name: Build Iris

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Build + disable Sentry tasks (FIX Lá»–I TOKEN)
      - name: Build with Gradle (no sentry)
        run: |
          ./gradlew build \
          -x sentryBundleSourcesJava \
          -x sentryCollectSourcesJava \
          -x core:sentryBundleSourcesJava \
          -x core:sentryCollectSourcesJava

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Iris-build
          path: build/libs/*.jar
